@import "general";
@import "page";
@import "header";
@import "card";

.main {
  max-width: 1200px;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, $cardWidth);
    justify-content: center;

    max-width: 1024px;
    padding: 0 40px;
    margin: auto;
    gap: 50px 48px;
  }
}
